name: Full App Sec Pipeline
on: [push]

jobs:
  security-pipeline:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v5

      # 1. SCA (Software Composition Analysis) - Snyk
      - name: Snyk Monitor (Upload to Snyk UI)
        uses: snyk/actions/setup@master
      - name: Snyk Auth & Monitor
        run: |
          snyk auth ${{ secrets.SNYK_TOKEN }}
          snyk monitor --org=mleczko2001xd --project-name=DevSecOps_pipeline
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }} #Copy from SNYK account API Token and paste in GitHub ---> repo --->  Actions secrets and variables ---> variables

      # 2. SAST (Static Application Security Testing) - SonarQube
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # 3. Build & Container Scan - Trivy
      - name: Build Docker Image
        run: docker build -t my-app:${{ github.sha }} .

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: my-app:${{ github.sha }}
          severity: CRITICAL,HIGH
          scanners: vuln #PIPETEST

      # 4. DAST (Dynamic Application Security Testing) - OWASP ZAP
      # name: OWASP ZAP Baseline Scan
       #uses: zaproxy/action-baseline@v0.14.0
        #with:
          #target: 'http://localhost:5000'
          #rules_file_name: '.zap/rules.tsv'
          #cmd_options: '-a'