name: Full App Sec Pipeline #TODO: add monitors (ZAP,TRIVY) add results in test (SONAR) in pipeline if not all gives results good idea to generate files nad read in one place 
on: [push]

jobs:
  security-pipeline:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: pip install -r requirements.txt

      # 1. SCA (Software Composition Analysis) - Snyk
      - name: Snyk Monitor (Upload to Snyk UI)
        uses: snyk/actions/setup@master
      - name: Snyk Auth & Monitor
        run: |
          snyk auth ${{ secrets.SNYK_TOKEN }}
          snyk monitor --org=mleczko2001xd --project-name=DevSecOps_pipeline

      # 2. SAST (Static Application Security Testing) - SonarQube
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # 3. Build & Container Scan - Trivy TODO (add monitor)
      - name: Build Docker Image
        run: docker build --network="host" -t my-app:${{ github.sha }} .

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: my-app:${{ github.sha }}
          severity: CRITICAL,HIGH #If needed you can addexit-code: '1' to return error in pipeline if want to avoid pr
          scanners: vuln # You can add to with skip-dirs: ''

      # 4. DAST (Dynamic Application Security Testing) - OWASP ZAP 
      - name: Start application for DAST
        run: |
          docker run -d -p 5000:5000 --name test-app my-app:${{ github.sha }}
          timeout 60s bash -c 'until curl -s localhost:5000; do sleep 5; done'
     # PLACE THE DEBUG STEP HERE:
      - name: Debug Application Failure
        if: failure()  # This ensures the step runs only if the timeout above occurs
        run: |
          echo "Checking container status..."
          docker ps -a
          echo "Displaying application logs (This will show the Python error):"
          docker logs test-app
      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: 'http://localhost:5000'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
          