name: Full App Sec Pipeline
on: [push]

jobs:
  security-pipeline:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v5

      # 1. SCA (Software Composition Analysis) - Snyk
      - name: Run Snyk to check for vulnerable libraries
        uses: snyk/actions/python@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }} #Copy from SNYK account API Token and paste in GitHub ---> repo --->  Actions secrets and variables ---> variables

      # 2. SAST (Static Application Security Testing) - SonarQube
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # 3. Build & Container Scan - Trivy
      - name: Build Docker Image
        run: docker build -t my-app:${{ github.sha }} .

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image: my-app:${{ github.sha }}
          severity: CRITICAL,HIGH
          scanners: vuln #123

      # 4. DAST (Dynamic Application Security Testing)
      # Placeholder: Replace with your preferred DAST tool, e.g., OWASP ZAP or Arachni
      - name: Run DAST scan
        run: |
          echo "DAST scanning step - implement your tool here"